default_config:
cloud:

homeassistant:
  packages: !include_dir_named packages

automation: !include automations.yaml
binary_sensor: !include binary_sensors.yaml
input_boolean: !include input_booleans.yaml
light: !include lights.yml
notify: !include notify.yaml
scene: !include scenes.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
command_line: !include command_line.yaml
zone: !include zones.yaml
python_script:

shell_command:
  git_pull_config: 'cd /config && git pull origin develop-ha'
  git_status_config: 'cd /config && git status && git log --oneline -5'
  git_stage_entity_registry: 'cd /config && git add .'
  git_commit_entity_registry: 'cd /config && git commit -m "Update snapshot files"'
  git_push_entity_registry: 'cd /config && git push https://salmeister:${GITHUB_TOKEN}@github.com/salmeister/home-assistant-config.git develop-ha'

tts:
  - platform: google_translate
    service_name: google_say

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret docker_net

recorder:
  purge_keep_days: 30
  exclude:
    entities:
      - sensor.time
    entity_globs:
      - sensor.dayoftheweek*
      - sensor.*_date
      - sensor.date*
      - binary_sensor.*_motion
      - sensor.*_last_seen

logger:
  default: info
  logs:
    homeassistant.components.http.ban: warning

#influxdb:
#  api_version: 2
#  ssl: false
#  host: !secret local_ip
#  port: 8086
#  token: !secret influxdb_token
#  organization: salmeister
#  bucket: homeassistant
#  tags:
#    source: HomeAssistant
#  tags_attributes:
#    - friendly_name
#  default_measurement: units
#  ignore_attributes:
#    - icon
#  #database: homeassistant
#  #username: hass
#  #password: !secret influxdb_psswd
#  #max_retries: 3

# View all events in a logbook
logbook:
  exclude:
    entities:
      - binary_sensor.main_bath_switch_motion
      - binary_sensor.up_bath_switch_motion
      - binary_sensor.back_entry_switch_daylight
      - cover.garage_doors
    entity_globs:
      - binary_sensor.*_interactive

google_assistant:
  project_id: hassio-5ca3f
  service_account: !include service_account.json
  report_state: true
  secure_devices_pin: !secret google_assistant_pin
  exposed_domains:
    - camera
    - switch
    - input_boolean
    - light
    - lock
    - cover
    - script
    - fan
  entity_config:
    input_boolean.bedtime:
      expose: false
    switch.dishwasher:
      expose: false
    switch.washing_machine:
      expose: false
    light.front_closet:
      expose: false
    switch.master_night_light:
      expose: false
    input_boolean.karlee_alarm:
      expose: false
    switch.1_front_street:
      expose: false
    switch.2_front_house:
      expose: false
    switch.3_side_neighbor:
      expose: false
    switch.4_back_house:
      expose: false
    switch.5_back_middle:
      expose: false
    switch.6_back_fence:
      expose: false
    switch.7_side_driveway:
      expose: false
    switch.adguard_filtering:
      expose: false
    switch.adguard_parental_control:
      expose: false
    switch.adguard_protection:
      expose: false
    switch.adguard_safe_browsing:
      expose: false
    switch.adguard_safe_search:
      expose: false
    switch.andy_phone_charger:
      expose: false
    switch.front_yard_schedule:
      expose: false
    switch.front_yard_seed_schedule:
      expose: false
    switch.maintain_new_seed_schedule:
      expose: false
    switch.new_seed_schedule_2:
      expose: false
    input_boolean.notify_fpm_andy:
      expose: false
    input_boolean.notify_fpm_katie:
      expose: false
    switch.salsprinkler_in_standby_mode:
      expose: false
    switch.salsprinkler_rain_delay:
      expose: false
